text {
  font-size: 16px;
  cursor: pointer;
  text-anchor: middle;
  fill: black;

  &.active {
    fill: dodgerblue;
  }
}

line {
  stroke: black;
  stroke-width: 3px;

  &.active {
    stroke: dodgerblue;
  }
}
